<div class="panel-heading">
  <h1>Account Settings</h1>
</div>

<div class="card-panel">
  <%= form_for edit_settings_path, class: 'col s12', method: 'put' do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label 'First Name' %>
        <%= f.text_field :first_name %>
      </div>
      <div class="input-field col s12">
        <%= f.label 'Last Name' %>
        <%= f.text_field :last_name %>
      </div>
      <div class="input-field col s12">
        <%= f.label 'From Email' %>
        <%= f.text_field :from_email %>
      </div>
    </div>
    <div class="col s12 right-align">
      <%= f.submit 'Update', class: 'waves-effect waves-light btn-large blue darken-2' %>
    </div>
  <% end %>
</div>
